---
lowercaseOutputName: true
lowercaseOutputLabelNames: true

rules:
  # JVM Memory
  - pattern: 'java.lang<type=Memory><HeapMemoryUsage>(\w+)'
    name: jvm_memory_heap_$1
    type: GAUGE

  - pattern: 'java.lang<type=Memory><NonHeapMemoryUsage>(\w+)'
    name: jvm_memory_nonheap_$1
    type: GAUGE

  # GC
  - pattern: 'java.lang<type=GarbageCollector, name=(.+)><>CollectionCount'
    name: jvm_gc_collection_count
    labels:
      gc: "$1"
    type: COUNTER

  - pattern: 'java.lang<type=GarbageCollector, name=(.+)><>CollectionTime'
    name: jvm_gc_collection_time_ms
    labels:
      gc: "$1"
    type: COUNTER

  # Threads
  - pattern: 'java.lang<type=Threading><>ThreadCount'
    name: jvm_threads_current
    type: GAUGE

  - pattern: 'java.lang<type=Threading><>PeakThreadCount'
    name: jvm_threads_peak
    type: GAUGE

  - pattern: 'java.lang<type=Threading><>DaemonThreadCount'
    name: jvm_threads_daemon
    type: GAUGE

  # CPU
  - pattern: 'java.lang<type=OperatingSystem><>ProcessCpuLoad'
    name: jvm_process_cpu_load
    type: GAUGE

  - pattern: 'java.lang<type=OperatingSystem><>SystemCpuLoad'
    name: jvm_system_cpu_load
    type: GAUGE

  # HikariCP
  - pattern: 'com.zaxxer.hikari<type=Pool, name=(.+)><>(\w+)'
    name: hikari_$2
    labels:
      pool: "$1"
    type: GAUGE
